:root {
    --main-bg-color: #EEEEEE;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-bg-color);
}

main {
    height: 100vh;
}

.index__logo {
    display: block;
    width: 50px;
}

pre {
    font-size: 70% !important;
    border: #999999 1px solid !important;
    padding: 5px !important;
    border-radius: 4px !important;
}

.red {
  color: #ffffff;
  background-color: #8E0000;
  border-color: #7C0000;
}

.red:hover {
    background-color: #7C0000;
    border-color: #8E0000;
  }

  .red:active {
    background-color: rgb(87, 1, 1) !important;
    border-color: rgb(97, 0, 0) !important;
  }