:root {
    --main-bg-color: #EEEEEE;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-bg-color);
}

main {
}

.index__logo {
    display: block;
    width: 50px;
}

pre {
    font-size: 70% !important;
    border: #999999 1px solid !important;
    padding: 5px !important;
    border-radius: 4px !important;
}

.red {
  color: #ffffff;
  background-color: #8E0000;
  border-color: #7C0000;
}

.red:hover {
    background-color: #7C0000;
    border-color: #8E0000;
  }

  .red:active {
    background-color: rgb(87, 1, 1) !important;
    border-color: rgb(97, 0, 0) !important;
  }

  .red:active:focus {
    box-shadow: 0 0 0 .2rem rgba(142,0,0,.5) !important;
  }

  .icon_red {
    color: #8E0000;
  }
  .icon_red_40 {
    color: #8E0000;
    font-size: 40px;
}

.icon_40 {
  font-size: 40px;
}

.icon_red_20 {
  color: #8E0000;
  font-size: 20px;
}

.icon_20 {
font-size: 20px;
}

.icon_red_80 {
    color: #8E0000;
    font-size: 80px;
}

  .nav_logo {
    display: block; 
    width: 40px
  }


  @keyframes spinner {
        0% {
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
        }
        100% {
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
    }
.spinner {
    padding: 200px;
    height: 200px;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;    
    z-index: 300;
}
.spinner:before {
        animation: 2s linear infinite spinner;
        border: solid 3px #eee;
        border-bottom-color: #8E0000;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }

    .error {
        display: flex;
        margin: 20px 0px;
        color: #8E0000;
        border-color: #8E0000;
        padding: 5px 20px;
        justify-content: center;
      
      }

      a {
        color: #8E0000 !important;
      }
      
      a:hover {
        color: #8E0000 !important;
        text-decoration: none;
      }

      a.btn {
          color: white !important;
      }

      a.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 20px;
      }