    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    .search_row {
        position: absolute;
        bottom: 8px;
        left: 0px;
        z-index: 1;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #search {
        min-height: 75px;
        overflow: hidden;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 5px;
        border: 1px #eee solid;
        overflow: hidden;
    }

    .search_form {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
        border: 1px #eee solid;
        overflow: hidden;
    }

    .search_form_data {
        font-size: 12px;
    }

    .search_form_description {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 7px;
        color: #aaa;
    }

    .search_form_item {
        font-size: 12px;
        height: 75px;
        padding: 5px 20px;
        border-right: 1px #eee solid;
    }

    .search_form_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search_form_item:nth-last-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search_form_item:last-of-type {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
    }

    .icon {
        cursor: pointer;
        display: inline-block;
        margin-left: 5px;
        padding: 4px;
    }

    .hidden {
        display: none !important;
    }

    #map {
        position: relative;
        height: calc(100vh - 65px);
    }

    .item {
        background-color: #fff;
        padding: 5px;
        margin: 10px 0;
        border-radius: 4px;
        border: 1px #eee solid;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .item:hover {
        box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
      }

   
    .item_col_score {
        color: #8E0000;
    }

    img {
        object-fit: cover;
    }

    .max-height-img {
        max-height: 80px;
        width: 100%;
    }

    .info {
        text-align: center;
    }
    .info_small {
        font-size: 9px;
    }
    .description {
        font-size: 0.8rem;
    }
    .description h5 {
        font-size: 1rem;
        padding-bottom: 3px;
        color: #8E0000;
    }
    a {
        color: #aaa !important;
    }

    a:hover {
        color: #bbb !important;
        text-decoration: none !important;
    }

    a:focus {
        outline: 0 !important;
    }

    .header_col {
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_col_address {
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

      .thumbmails {
          padding-left: 5px;
          height: 100%;
      }

      .thumbmails .thumbmails__image img{
        margin: 3px;
      }

      .thumbmails__image {
        padding: 5px;
      }
      .thumbmails__image:hover {
          opacity: 0.9;
          cursor: pointer;
      }

      .icon__expand {
        color: #8E0000;
        margin-left: 5px;
        cursor: pointer;
      }

      .icon__action {
          cursor: pointer;
      }

      .match-score__data {
          font-size: 30px;
          color: #8E0000;
          font-weight: bold;
      }

      .list_header {
        font-size: .9em;
        font-weight: bolder;
    }

    .property_list_item {
        padding: 10px;
        border-radius: 4px;
        background-color: #fff;
        margin-bottom: 5px;
        min-height: 300px;
    }

    .red_border {
        box-shadow: 0px 0px 0px 2px #8E0000;
        transition: box-shadow 300ms ease-in-out;
    }

    .prop_desc {
        height: 100px;
        overflow: hidden;
    }

    .prop_desc_heading {
        margin: 5px 0px;
        font-size: 1em;
        font-weight: bolder;
    }

    .prop_info {
        border-radius: 4px;
        background-color: #eee;
    }

    .prop_buttons i {
        cursor: pointer;
        padding: 10px;
    }

    /* The location pointed to by the popup tip. */
      .popup-tip-anchor {
        height: 0;
        position: absolute;
        bottom: 10px;
        /* The max width of the info window. */
        width: 200px;
      }
      /* The bubble is anchored above the tip. */
      .popup-bubble-anchor {
        position: absolute;
        width: 100%;
        bottom: /* TIP_HEIGHT= */ 50px;
        left: 0;
      }
      /* Draw the tip. */
      .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: /* TIP_HEIGHT= */ 8px solid white;
      }
      /* The popup bubble itself. */
      .popup-bubble-content {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -100%);
        /* Style the info window. */
        background-color: white;
        padding: 0px;
        border-radius: 5px;
        font-family: sans-serif;
        overflow-y: auto;
        height: 170px;
        width: 200px;
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
      }


.prop_card {
    height: 100%;
    width: 100%;
    /* max-width: 200px;
    max-height: 180px; */
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.prop_card_exit{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    height: 10px;
    width: 10px;
    z-index: 1;
}

.prop_card_exit i {
    height: 10px;
    width: 10px;
    font-size: 10px;
    cursor: pointer;
}

.prop_card_img {
    position: relative;
    background-color: #8E0000;
    width: 100%;
    height: 100px;
}

.prop_card_price {
    position: absolute;
    bottom: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.prop_card_icon {
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #eee;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
}
.prop_card_icon:hover {
    background-color: #eee;
    border: 1px solid #ddd;
}
.prop_card_icon i {
    color: #8E0000;
}

.prop_card_street {
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.prop_card_cs {
    font-size: 1.1em;
}

.prop_card_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    bottom: 5px;
}

.prop_card_info_bed {
    font-size: 0.9em;
    display: flex;
    justify-content: start;
}

.prop_card_info_bath {
    font-size: 0.9em;
    display: flex;
    justify-content: start;
}

.prop_card_info_sqft {
    font-size: 0.9em;
    display: flex;
    justify-content: start;
}

#search_address{
    position: absolute;
    top: 75px;
    right: 12px;
    width: 75%;
    min-width: 320px;
}